<!--
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <b>Ativo</b>
      <div class="card cardsize">
        <div class="card-header colorheaderAt">
          <h3 class="card-header-total">R$ 128.400,00</h3>
        </div>
        <div [hidden]="!chartAt" >
          <canvas class="mw-100" id="canvasAt" height="180">{{chartAt}}</canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <b>Passivo</b>
      <div class="card cardsize">
        <div class="card-header colorheaderPa">
          <h3 class="card-header-total">R$ 93.800,00</h3>
        </div>
        <div [hidden]="!chartPa">
          <canvas class="mw-100" id="canvasPa" height="180">{{chartPa}}</canvas>
        </div>

      </div>
    </div>
    <div class="col-lg-3">
      <b>Patrimonio Líquido</b>
      <div class="card cardsize">
        <div class="card-header colorheaderPl">
          <h3 class="card-header-total">R$ 34.600,00</h3>
        </div>
        <div [hidden]="!chartPl">
          <canvas class="mw-100" id="canvasPl" height="180">{{chartPl}}</canvas>
        </div>

      </div>
    </div>
    <div class="col-lg-3">
      <b>Status</b>
      <div class="card cardsize">
        <div class="card-header colorheaderAt">
          <h3 class="card-header-total">OK</h3>
        </div>
        <div [hidden]="!chartOk">
          <canvas class="mw-100" id="canvasOk" height="180">{{chartOk}}</canvas>
        </div>

      </div>
    </div>

  </div>
</div>
-->
<div class="container-fluid">
  <div class="row pr-5">
    <div class="col-3 pt-5 pl-5" >
      <div class="text-white text-right p-5 bg-green">
        <div class="count">
Ativo
        </div>
        <div class="text">
          ATIVO
        </div>
        <div class="title">
ddd
        </div>
        <div class="go-summary mt-3 pt-3">
          Ver resumo<!--<span (click)="goToSummary(item.classification)">Ver Resumo</span>-->
        </div>
      </div>
    </div>

    <div class="col-3 pt-5 pl-5" >
      <div class="text-white text-right p-5 bg-green">
        <div class="count">
          Passivo
        </div>
        <div class="text">
          PASSIVO
        </div>
        <div class="title">
          ddd
        </div>
        <div class="go-summary mt-3 pt-3">
          <!--<span (click)="goToAccount('4')">Ver Resumo</span> -->
          <span [routerLink]="['/contas/4']">Ver Resumo</span>

        </div>
      </div>
    </div>

  </div>
</div>



