/*
.cardsize{
  height: 250px;
}

.chart-height{
  display:flex;
}

.card-header-total{
  color: white;
  text-align: center;
}

.colorheaderAt{
  background: rgba(0, 230, 64, 1);
}

.colorheaderPa{
  background: rgba(242, 38, 19, 1);
}

.colorheaderPl{
  background: rgba(52, 152, 219, 1);
}
*/

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.count {
  font-size: 6rem;
  line-height: 1;
}

.text {
  font-size: 2rem;
  margin-top: 1rem;
}

.title {
  font-size: 1rem;
}

.go-summary {
  font-size: 1rem;
  border-top: 1px solid white;
  cursor: pointer;
}
